{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block site_title %}Create new article{% endblock site_title %}

{% block app_css %}
<!-- highlight.js -->
<link rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/styles/atom-one-dark.css" />

<!-- my css -->
<link rel="stylesheet" href="{% static 'home/css/markdown_form.css' %}">
{% endblock app_css %}

{% block content %}
<!-- この表示をどうするか考える必要がある -->
<div class="container mt-3">
    <form method="POST" action="{% url 'home:article_create' %}">
        {% csrf_token %}

        <!-- タイトルとボタン -->
        <div class="row align-items-center mb-3">
            <div class="col">
                {{ article_create_form.title|add_class:"form-control" }}
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

        <!-- content フィールド（非表示）-->
        {{ article_create_form.content|attr:"hidden" }}

        <!-- エディタとプレビューを横並び -->
        <div class="row">
            <!-- markdown エディタ用の div -->
            <div class="col-md-6" id="md-editor"></div>
            <!-- markdown プレビューボックス用の div -->
            <div class="col-md-6" id="md-viewer"></div>
        </div>
    </form>
</div>

{% endblock content %}


{% block app_js %}
<!-- Ace Editor -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.41.0/ace.js"
    integrity="sha512-NniBwfvCiZ1advaXyBHY48iB65/Yld4m/RJoDJNE1a1Kj2DjJO/Z503zUaumxxXHDnWDs+mYqsuDR3hvuHTvxQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Marked -->
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

<!-- highlight.js -->
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/highlight.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/highlight.pack.js"></script>

<!-- my js -->
<script src="{% static 'home/js/markdown_form.js' %}"></script>
{% endblock app_js %}
