{% extends 'base.html' %}


{% block site_title %}Password reset complete{% endblock site_title %}


{% block content%}
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                <div class="card border border-2 border-success rounded-3">
                    <div class="card-body p-4 text-center text-success">
                        <p class="fw-bold mb-3">Your password has been successfully reset.</p>
                        <p class="mb-3">
                            You can now log in with your new password.
                        </p>
                        <!-- Login link -->
                        <p class="mb-0">
                            <a href="{% url 'user:login' %}" class="link-success text-decoration-none fw-bold">
                                Click here to log in
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content%}
