{% extends 'base.html' %}

{% block site_title %}Password reset sent{% endblock site_title %}


{% block content %}
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                <div class="card border border-2 border-info rounded-3">
                    <div class="card-body p-4 text-center text-info">
                        <p class="fw-bold mb-3">Password reset email has been sent.</p>
                        <p class="mb-2">
                            If an account with the provided email exists, you will receive an email with instructions to
                            reset your password.
                        </p>
                        <p class="mb-0">
                            Please check your inbox and spam folder. If you do not receive an email, please try again or
                            contact support.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
